@{
    ViewData["Title"] = "FreelanceCore";
}

<div class="container my-custom-container" style="padding-top : 50px">
    <div class="row">
        <div class="col-sm-2">
            <h4>Top Global Freelance</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Doe</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Moe</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dooley</td>
                    </tr>
                </tbody>
            </table>

            <h4>Top Lokal Jurusan</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th>Nama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Doe</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Moe</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dooley</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-7">
            <div class="media">
                <div class="media-left">
                    <img src="typo.png" class="media-object" style="width:60px; height:60px; color:red">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Translate Abstrak (Indonesia - Inggris)</h4>
                    <p style="color:#DCDCDC">Dipost pada 19 November 1995 20:22</p>
                    <p>Menterjemahkan untuk skripsi saya. Diedline 5</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="typo.png" class="media-object" style="width:60px; height:60px; color:red">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lest Private</h4>
                    <p style="color:#DCDCDC">Dipost pada 19 November 1995 20:22</p>
                    <p>Dicari pengajar probabilitas dan statistika ...</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="typo.png" class="media-object" style="width:60px; height:60px; color:red">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Lest Private</h4>
                    <p style="color:#DCDCDC">Dipost pada 19 November 1995 20:22</p>
                    <p>Dicari pengajar BTQ ...</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="typo.png" class="media-object" style="width:60px; height:60px; color:red">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Translate Abstrak (Indonesia - Inggris)</h4>
                    <p style="color:#DCDCDC">Dipost pada 19 November 1995 20:22</p>
                    <p>Menterjemahkan untuk skripsi saya. Diedline 5</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <table class="table table-hover">
                <h3>Kontribusi</h3>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Job Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Translate</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Les Private</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jasa Ketik</td>
                    </tr>
                </tbody>
            </table>
            <h3>Repo Job</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Job Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Translate</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Les Private</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jasa Ketik</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>